logs/
target/
.mvn/
!**/src/main/**
!**/src/test/**
src/main/resources/datasource.properties
src/test/java/SimpleTests.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
